<template>
    <div class="ad-summary">
        <div v-if="loading" class="loading">
            <div class="spinner"></div>
            Betöltés...
        </div>

        <img :src="photoUrl" alt="Ingatalan képe">

        <div class="summary">
            <div class="data">{{ price | formatPrice }}</div>
            <button id="save" @click="handleButton">
                <i v-if="isSaved" class="icon icon-star-filled"></i>
                <i v-else class="icon icon-star"></i>
                <span class="button-text">{{ buttonText }}</span>
            </button>
        </div>
    </div>
</template>

<script>
import { formatPrice } from './utils';

export default {
  name: 'AdSummary',
  props: {
    isSaved: Boolean,
    price: Number,
    photoUrl: String,
  },
  filters: {
    formatPrice
  },
  data() {
    return {
      loading: false,
    }
  },
  method: {
    handleButton() {
      this.$emit('save');
    }
  },
  computed: {
    buttonText() {
      return this.isSaved ? 'Elmentve' : 'Mentés';
    }
  }
}
</script>
